body {
    text-align: center;
    background: lightsteelblue;
}

.grid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    float: left;
    border-style: solid;
    border-radius: 20px;
    background: rgb(3, 22, 9);
}

.grid div {
    width: 20px;
    height: 20px;
}

.content {
    float: left;
    width: 20%;
    padding: 50px;
}

.snake {
    background-color: blue;
    border-radius: 10px;
}

.apple {
    background-color: purple;
    border-radius: 10px;
}

.apple2 {
    background-color: red;
    border-radius: 10px;
}

button {
    background: rgb(3, 83, 3);
    color: white;
    padding: 10px;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
    background: rgb(8, 218, 8);
}

.score,
.live {
    display: block;
    margin: 10px;
    padding: 20px;
    font-size: 26px;
}

.score {
    color: rgb(8, 132, 173);
}

.live {
    color: rgb(177, 19, 19);
}